<section id="about" class="container-fluid content-section">
    <!-- 3 Section -->
    <section class="container-fluid content-section about text-center">
        <div class="col-lg-7 col-lg-offset-2">
            <h2>A propos</h2>
            <p>A finalité sociale, Frêne & Scie est une société d’éco-menuiserie 
                spécialisée  dans  la  confection  de <a href="#service">yourtes</a> et <a href="#service">l’aménagement 
                d’espace extérieur</a>. Par son travail de création, inspiré du savoir faire 
                ancestral <a href="#service">kirghize</a>, Frêne & Scie propose des structures 
                variées en forme courbe, du pavillon d’été à l’habitat permanent.
                Par la technique du <a href="#service">cintrage à la vapeur</a>, le bois d’essence locale 
                est assoupli en vue de lui donner les formes désirées et d’assurer 
                un rendu plus organique. Le feutre de laine du pays, utilisé comme 
                couverture  extérieure,  assure  une  intégration  harmonieuse  de 
                la  yourte  à  son  environnement.  Yourtes  en  clé  sur  porte  ou  en 
                accompagnement à l’auto-construction, Frêne & Scie invite à et 
                milite pour un renouvellement de l’Art d’habiter.
            </p>
        </div>
    </section>
</section>