<section id="agenda" class="content-section text-center">
    <div class="overlay">
        <div class="agenda-section">

            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Frêne & Scie prend part au festival Passion Robinson® ...</h2>
                    <p>Festival international des cabanes, roulottes et de l'habitat premier</p>
                    <p>CULTIVER L'ESPRIT "CABANE"...
                        qu'elle soit de bois, perchée, de feuilles, mobile, de toile ou de verre...</p>
                    <p>Bloquez les dates du 1er au 3 mai 2015.</p>
                    <a href="http://www.passionrobinson.be/"  target="_blank" class="btn btn-default btn-lg">Visitez le site de Passion Robinson</a>
                </div>
            </div>

        </div>
    </div>
</section>