<section id="contact" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contactez nous!</h2>
            <p>Pour une collaboration, un retour d'expérience, des suggestions ... ou juste pour nous dire bonjour!</p>
            <p>contact@frene-et-scie.be</p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="mailto:contact@frene-et-scie.be" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">MAIL</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/frene-et-scie" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
            </ul>
        </div>
</section>