<header id="intro" class="intro container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 intro-title">
            <h1 class="brand-heading frame">{{site.data.settings.title}}</h1>
            <p class="nav"><a href="#about" class="btn btn-down page-scroll"><i class="fa fa-angle-double-down animated"></i></a></p>
        </div>
    </div>
   <div class="row">
        <div class="col-md-8 col-md-offset-2 intro-service" >
        {% for service in site.data.settings.services %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 intro-service-item">
                <h2 class="frame"><a href="{{service.url}}" class="service-heading">{{service.name}}</a></h2>
            </div>
        {% endfor %}
        </div>
    </div>
</header>