<section id="service" class="container-fluid content-section">
    <!--div class="col-md-6 col-lg-3 col-gray2" style="background:#192024;"-->
    <!--div class="col-md-6 col-lg-3 col-gray2" style="background:#37474F;"-->
    {% for service in site.data.settings.services %}
    <!-- <div id="{{service.id}}" class="col-md-6 col-lg-3 service-item {% cycle 'col-service-even', 'col-service-odd' %}"> -->
    <div id="{{service.id}}" class="col-md-6 col-lg-3 service-item">
        <h3><i class="fa fa-2x" style="position:absolute; top:25px; right:20px;"></i>{{service.name}}</h3>
        <p>{{service.description}}</p>
    </div>
    {% endfor %}
</section>