<section id="service" class="container-fluid content-section cf">
    <!--div class="col-md-6 col-lg-3 col-gray2" style="background:#37474F;"-->
    <div class="col-md-6 col-lg-3 col-gray2 service-item">
        <h3><i class="fa fa-2x" style="position:absolute; top:25px; right:20px;"></i> Yourtes kirghize</h3>
        <p>Lorem ipsum dolor sit amet, et assum efficiantur his, tota postea moderatius ei eos. Eam quis percipitur sadipscing cu. Sale liberavisse ius te, laudem disputando has no. Eos platonem assentior ut, ea iudicabit gubergren evertitur ius, eum nobis definitionem ea. Vix eu quot quaerendum efficiantur.</p>
    </div>
    <div class="col-md-6 col-lg-3 col-gray service-item" style="background:#192024;">
        <h3><i class="fa fa-2x" style="position:absolute; top:25px; right:20px;"></i> Aménagement 
                d’espace extérieur</h3>
        <p>Et inermis copiosae cum. Illum delectus voluptaria his ne. Habeo saepe tantas sed no. Ei duo solum pertinax. Ludus aliquid honestatis et pri. Est habeo singulis hendrerit cu, graeco scriptorem theophrastus est ne. Mea audire interpretaris an.</p>
    </div>
    <div class="col-md-6 col-lg-3 col-gray2 service-item" style="background:#37474F;">
        <h3><i class="fa fa-2x" style="position:absolute; top:25px; right:20px;"></i> Eco-menuiserie</h3>
        <p>Odio denique conclusionemque eum et. Pro quodsi expetendis adipiscing ad, vim posse nominati id. Et laboramus assentior quo. Idque dicant verear pri te, vim ad simul dolores, iusto constituto per eu.</p>
    </div>
    <div class="col-md-6 col-lg-3 col-gray service-item">
        <h3><i class="fa fa-2x" style="position:absolute; top:25px; right:20px;"></i> Évènementiel</h3>
        <p>Mei menandri definiebas ad, aeque omnes posidonium ut ius, ut modo justo intellegebat mel. Hinc lucilius detraxit eos at. Hinc inimicus volutpat at his. Ius ornatus convenire honestatis at, ei wisi ceteros pro. Timeam aliquam mea no, ad autem semper vis. An invenire voluptaria eam.</p>
    </div>
</section>